.container-fluid {
    padding: 0px !important;
}

.btn {
    border-radius: 0px !important;
}


/* Header Section */

.top-header {
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    height: 50px;
    padding: 0px;
    position: relative;
    background-color: #607D8B;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.header-menu-icon {
    z-index: 5;
    font-size: 44px;
    cursor: pointer;
    padding-top: 3px;
    padding-left: 5px;
    text-shadow: 0px 0px 7.5px black;
}

.header-title {
    top: 8px;
    left: 60px;
    z-index: 2;
    margin: 0px;
    user-select: none;
    position: absolute;
}


/* Menu Section */

.menu {
    top: 50px;
    left: -400px;
    z-index: 4;
    bottom: 0px;
    width: 400px;
    position: absolute;
    background-color: #78909C;
    box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.menu-login-section {
    width: 100%;
    bottom: 0px;
    padding-top: 20px;
    position: absolute;
    padding-bottom: 14px;
    background-color: #546E7A;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}

.menu-login-section hr {
    margin-top: 1px;
}

.menu-login-section a {
    color: white;
    background-color: #455A64;
    border: #37474F solid 0.25px;
}

.menu-login-button {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}


/*
  Login Page
*/
html,.container-fluid {
  background-color: #B0BEC5;
}
.login-well {
    width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5) !important;
}

.login-well-title {
    margin: 0px;
    text-align: center;
}

.login-well-rule {
    margin: 0px;
    margin-top: 5px;
    border-color: rgba(0, 0, 0, 0.5)
}

.login-well-input-controls {
    margin-top: 20px;
}

.signup-button {
    float: right;
}

.reset-password-button {
    padding-left: 0px !important;
}

.back-home-button {
    float: right;
    padding-right: 0px !important;
}

.login-methods-well {
    width: 500px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5) !important;
}

.sign-in-methods {
    padding-top: 10px;
}

.google-badge {
    margin-left: 14px;
}

.sign-in-method {
    font-size: 20px !important;
}

.reset-button {
    width: 100%;
}
.or-h3 {
    text-shadow: 1px 2px 3px #666;
}
